@model EDASampleProject.Models.staff01office_info

@{
    ViewBag.Title = "AddStaff";
    Layout = null;
}

<h2>Add New Staff</h2>

@using (Html.BeginForm("AddStaff", "Staff", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return jQueryAjaxPost();"}))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            @*<hr />*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.staff01image_path)
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.staff01name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div >
                        @Html.EditorFor(model => model.staff01name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.staff01name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.staff01position, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div >
                        @Html.EditorFor(model => model.staff01position, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.staff01position, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.staff01depart, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div >
                        @Html.EditorFor(model => model.staff01depart, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.staff01depart, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.staff01salary, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.staff01salary, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.staff01salary, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2" style="margin: 10px 0px">
                        <input type="submit" value="Add" class="btn btn-outline-success btn-sm" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.staff01image_path, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div >
                        @*@Html.EditorFor(model => model.staff01image_path, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.staff01image_path, "", new { @class = "text-danger" })*@
                        <img src="@Url.Content(Model.staff01image_path)" style="margin:10px" height="200" width="200" id="imagePreview"/>
                    </div>
                    <div >
                        <input type="file" name="ImageUpload" accept="image/jpeg, image/png" onchange="ShowImagePreview(this, document.getElementById('imagePreview'))"/>
                    </div>
                </div> 
            </div>

        </div>
    </div>
}

