@model IEnumerable<EDASampleProject.Models.staff01office_info>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.staff01name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staff01position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staff01depart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staff01salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staff01image_path)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.staff01name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staff01position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staff01depart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staff01salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staff01image_path)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.staff01uin }) |
            @Html.ActionLink("Details", "Details", new { id=item.staff01uin }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.staff01uin })
        </td>
    </tr>
}

</table>
